.link-back {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;

  &__text {
    color: $color-suva-grey;
  }

  &:hover,
  &:focus-visible {
    .link-back__text {
      color: $color-blue;
    }
  }
}
